<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Super Hero Maker</title>
<!--Remy Sharp Shim --> 
<!--[if lte IE 9]> 
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript" >
</script> 
<![endif]-->
<link href="css/styles.css" type="text/css" rel="stylesheet">
</head>
    
<body>
    <div id=wrapper>
      <header>
        <img src="images/SuperHeroLogo.jpg" alt="Super Hero Logo"> 
      </header>
    <main>
        <h1>Thank you for your submission!</h1>
        <h1>Your Super Hero is on their way to you!</h1>
        <img src="images/superhero_500.jpg" alt="superhero">
    </main>
    <aside>
        <img src="images/superheroes_340x359.jpg" alt="superheroes">
        <h2>Its Clobberin' Time!</h2>
        <p>Proin finibus ligula a mollis porta. Sed vulputate placerat convallis. Integer vulputate bibendum faucibus. Mauris nec accumsan orci, vitae sodales urna. Duis sed dapibus tortor. Etiam non risus quis arcu pulvinar semper. Duis iaculis semper urna vel interdum. Duis vestibulum mi id mauris cursus, id pulvinar erat convallis. Maecenas id nibh hendrerit, rutrum tortor condimentum, porttitor ex. Phasellus feugiat aliquet leo in facilisis. Praesent quis elit eget justo mollis lobortis. Nullam mattis nibh quis odio blandit, eu iaculis lacus euismod. Quisque id dignissim nunc. Mauris diam orci, ullamcorper id dui vitae, pulvinar lacinia leo.</p>
    </aside>
    <footer>
        <ul>
            <li>Copyright 2018 &copy;</li>
            <li>All Rights Reserved</li>
            <li><a href="../index.html">Web Design by Kyle</a></li>
        </ul>
        <p class="valid"><a href="https://validator.w3.org/check?uri=referer">
            <img src="../images/HTML5_64.png" alt="HTML5 logo"></a></p>
    </footer>  
    </div> <!--end wrapper-->
</body>
</html>
